<%@survey.responses.each do |response|%>

<p><%=response.choice.content%></p>
<%end%>

<%@survey.questions.each do |question|%>
<p><%=question.
<%voter.responses.each do |response|%>
<p>
<p><%= response
