<div class="form-group">

  <label class="col-sm-2 control-label">Question: </label>
  <input type="text" class="form-control" placeholder="Enter question here..." name="question[content]"/><br>

  <label class="col-sm-2 control-label">Option 1: </label>
  <input type="text" class="form-control" placeholder="Enter option here..." name="option[content1]"/><br><br>
  <label class="col-sm-2 control-label">Option 2: </label>
  <input type="text" class="form-control" placeholder="Enter option here..." name="option[content2]"/><br><br>
  <label class="col-sm-2 control-label">Option 3: </label>
  <input type="text" class="form-control" placeholder="Enter option here..." name="option[content3]"/><br><br>
</div>

