
<div class="jumbotron">
  <h1>Yessss!!!</h1>
  <p class="lead"><img src="https://38.media.tumblr.com/08c0e461854b592b1e9e44f046d77034/tumblr_n8i7pcJcKU1sp4nfqo1_500.gif"</img></p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Create Survey :)</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
      <%@surveys.each do |survey|%>
      <div class="individual_survey">
        <h4><%=survey.title %></h4>
        <p><a class="view_more" href="/"> view more</a><i><p style="display:none" class="description"><%=survey.description%></i></p>
        <form action= "/surveys/<%=survey.id%>" method="get">
        <input type="submit" class="btn btn-primary" value="Take Survey">
        </form>
      </div>
      <%end%>
  </div>
</div>

