<h1>Create a new survey:</h1>

<form action="/surveys" method="post"/>
  <label class="col-sm-2 control-label">Survey: </label>
  <input type="text" class="form-control" placeholder="Enter survey name here..." name="survey[title]"/><br>

  <label class="col-sm-2 control-label">Description: </label>
  <input type="text" class="form-control" placeholder="Enter survey description here..." name="survey[description]"/><br>

  <%= erb :"surveys/_survey"%>
    <br><br>
<input type="submit" value="Add Question"/>
<br><br>
</form>
<form action="/surveys" method="post"/>
  <input type="submit" value="Complete Survey!"/>
</form>
