<h1>Create a new survey:</h1>

<form action="/surveys" method="post"/>
 <div class="survey_creation form-group">
  <label class="col-sm-2 control-label">Survey: </label>
  <input type="text" class="form-control" placeholder="Enter survey name here..." name="survey[title]"/><br>

  <label class="col-sm-2 control-label">Description: </label>
  <input type="text" class="form-control" placeholder="Enter survey description here..." name="survey[description]"/><br><hr>
<h1>Survey questions:</h1>
  <%= erb :"surveys/_survey"%>
    <br>
  </div>
<a href="/surveys/questions/new" class="add_question btn btn-primary" value="Add Question">Add Question</a>
<br><br>

<input class="btn btn-success" type="submit" value="Publish Survey!"/>
</form>
<br>
<br>
