
<form>
  <input type="text" name="survey[questions][][content]" value="foo">
    <input type="text" name="survey[questions][][choice][]" value="foo">
  <input type="text" name="survey[questions][][choice][]" value="foo">
  <input type="text" name="survey[questions][][choice][]" value="foo">
   <input type="text" name="survey[questions][][content]" value="foo">
    <input type="text" name="survey[questions][][choice][]" value="foo">
  <input type="text" name="survey[questions][][choice][]" value="foo">
  <input type="text" name="survey[questions][][choice][]" value="foo">
   <input type="text" name="survey[questions][][content]" value="foo">
    <input type="text" name="survey[questions][][choice][]" value="foo">
  <input type="text" name="survey[questions][][choice][]" value="foo">
  <input type="text" name="survey[questions][][choice][]" value="foo">

  <input type="submit" value="submit">
</form>
