<table>
  <%@surveys.each do |survey|%>
  <tr>
    <td><form action= "/surveys/<%=survey.id%>" method="get">
        <input type="submit" value="Take Survey"></form></td>
  <td><%=survey.title %> <a class="view_more" href="/"> view more</a><i><p style="display:none" class="description"><%=survey.description%></p></i></td>
</tr>
  <%end%>
</table>

